<div class="col-md-6">
    <div class="panel with-nav-tabs panel-info">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1info" data-toggle="tab">Info 1</a></li>
                <li><a href="#tab2info" data-toggle="tab">Info 2</a></li>
                <li><a href="#tab3info" data-toggle="tab">Info 3</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#tab4info" data-toggle="tab">Info 4</a></li>
                        <li><a href="#tab5info" data-toggle="tab">Info 5</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1info">
                    <div class="form-row">
                        <div class="col">
                            <label for="inputEmail4" class="col-form-label">Change Number</label>
                            <input type="text" class="form-control form-changeNumber" id="inputChange" value="{{changedetails.ChangeNumber}}" placeholder="Change Number">
                        </div>
                        <div class="col">
                            <label for="inputPassword4" class="col-form-label">Reported By</label>
                            <input type="text" class="form-control form-contactname" id="inputreportedBy" value="{{changedetails.ReportedByComboName}}"
                                placeholder="Password">
                        </div>

                        <div class="col">
                            <label for="inputAffectedUser" class="col-form-label">Affected User</label>
                            <input type="text" class="form-control form-contactname" id="inputAffectedusername" value="{{changedetails.AffectedContactComboName}}"
                                placeholder="1234 Main St">
                        </div>
                        <div class="col Changedescription">
                            <label for="inputDescription" class="col-form-label">Description</label>
                            <textarea rows="4" cols="50">
                                {{changedetails.Description}}
                            </textarea>
                            
                        </div>
                        <div class="col">
                            <label for="inputStatus" class="col-form-label">Status</label>
                            <input type="text" class="form-control form-description" id="inputStatus" value="{{changedetails.Status}}" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col">
                            <label for="inputAssignee" class="col-form-label">Assignee</label>
                            <input type="text" class="form-control form-description" id="inputassignee" value="{{changedetails.Assignee}}" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col">
                            <label for="inputgroupname" class="col-form-label">GroupName</label>
                            <input type="text" class="form-control form-description" id="inputgroupName" value="{{changedetails.GroupName}}" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col">
                            <label for="inputOpenDate" class="col-form-label">Open Date</label>
                            <input type="datetime-local" class="form-control form-description" id="inputOpendate" value="{{changedetails.OpenDate}}" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col">
                            <label for="inputRisk" class="col-form-label">Risk</label>
                            <input type="text" class="form-control form-description" id="inputRisk" value="{{changedetails.Risk}}" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col">
                            <label for="inputChangeType" class="col-form-label">ChangeType</label>
                            <input type="text" class="form-control form-description" id="inputChangeType" value="{{changedetails.ChangeType}}" placeholder="Apartment, studio, or floor">
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="tab2info">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity" class="col-form-label">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState" class="col-form-label">State</label>
                            <select id="inputState" class="form-control">Choose</select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip" class="col-form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Check me out
      </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>


                </div>
                <div class="tab-pane fade" id="tab3info">Info 3</div>
                <div class="tab-pane fade" id="tab4info">Info 4</div>
                <div class="tab-pane fade" id="tab5info">Info 5</div>
            </div>
        </div>
    </div>
</div>