.test{

    margin-top: 100px;
}
.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel.with-nav-tabs.panel-info{background:transparent;}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-info[_ngcontent-c3] > .panel-heading[_ngcontent-c3] {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-heading[_ngcontent-c3] {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.Changedescription{width:90% !important;}
.Changedescription textarea{width:100%;}
.col-md-6{padding:0 !important;}
.panel-heading{background-color: #696969 !important;}
.nav a{color:white;}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.col{float:left;width:30%;}
.panel-body{height:400px;}
.col-md-6{max-width:100% !important;}
.form-row{height: 100%;width:100%;}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.panel-info {
    
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    
}
.nav>li {
    position: relative;
    display: block;
}
.col-md-6{margin-top:40px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

